@import url(http://fonts.googleapis.com/css?family=Quando);

* { border: 0; padding: 0; margin: 0; }

body {
    font: normal 16px/1.5em 'Quando', serif;
}

a {
    text-decoration: none;
}

header {
    z-index: 10;
    width: 400px;
    padding: 4px;
    margin: 32px auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    text-align: center;
}

header h1 {
    font: normal 64px/1em 'Quando', serif;
    width: auto;
}

header a {
    font: normal 32px/1em 'Quando', serif;
}

#user {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    padding: 1em;
    text-align: right;
}

#logout {
    color: rgba(0, 0, 0, 0.2);
}

#logout:hover {
    color: #000;
}

#avatar, #marks > #avatar {
    z-index: 100;
    width: 80px;
    float: right;
}

#avatar.dragme:after {
    display: block;
    content: 'Drag me!';
    background: rgba(0, 100, 0, 0.5);
    color: #fff;
    border-radius: 0 10px 10px 10px;
    font-size: 12px;
    text-align: center;
}

.avatar {
    border-radius: 100%;
}

#marks {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
}

#marks > div {
    position: absolute;
    display: block;
    z-index: -10;
}
