{% extends "layout.html" %}
{% block head_extra %}
  <script type="text/javascript" src="static/mark.js"></script>
{% endblock %}
{% block content %}
  <header>
    <h1>Joe Friedl</h1>
    <a href="https://github.com/login/oauth/authorize?client_id={{ client_id }}">Make a Mark</a>
  </header>
  {% if session.user %}
  <div id="user">
    <a id="logout" href="{{ url_for('logout') }}">Log Out</a>
    <a id="avatar" class="dragme" href="{{ session.user.html_url }}" draggable>
      <img class="avatar" width="80" height="80" src="{{ session.user.avatar_url }}" alt="{{ session.user.name }}" />
    </a>
  </div>
  <script type="text/javascript">
  <!--
  mark();
  //-->
  </script>
  {% endif %}
{% endblock %}
