@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

h1 {
    /* Don't judge me */
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1em;
    text-align: center;
    margin-top: -0.5em;
    font: normal 32px/1em 'Roboto Slab', serif;
}
