@import url(http://fonts.googleapis.com/css?family=Quando);

* { border: 0; padding: 0; margin: 0; }

h1 {
    /* Don't judge me */
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1em;
    text-align: center;
    margin-top: -0.5em;
    font: normal 64px/1em 'Quando', serif;
}

video {
  position: absolute;
}

.marking {
  cursor: none;
}
