<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Joe Friedl</title>
  <meta name="description" content="Joe Friedl is a web developer and wizard in Queens, NY." />
  <meta name="keywords" content="joe friedl,joe,friedl,web developer,web development,python,programming,javascript,wizard,wizardry,dragons,skeletons,magic,a bread" />
  <link rel="openid.server" href="http://www.myopenid.com/server" />
  <link rel="openid.delegate" href="http://grampajoe.myopenid.com/" />
  <link rel="shortcut icon" type="image/png" href="static/face_icon.png" />
  <link rel="stylesheet" type="text/css" href="static/style.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
  {% block head_extra %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
